In [1]:
%pylab inline
from pandas import Series, DataFrame
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

《[利用Python进行数据分析](https://book.douban.com/subject/25779298/)》
作者: Wes McKinney
译者: 唐学韬

汇总和描述性统计

Pandas 实现了一些简单简单的汇总和描述性统计功能，更复杂的统计计算可以使用 [Scipy]() 的 `stats`模块。

# 基本统计

包括：

- count: 计数
- describe: 各列的汇总统计
- min, max: 最小值和最大值
- argmin, argmax: 最小值和最大值的索引位置
- idxmin, idxmax: 最小值和最大值 的索引值
- quantile: 样本的分位数(0--1)
- sum: 求和
- mean: 平均数
- median: 中位数（0.5分位数）
- mad: 平均绝对离差
- var: 方差
- std: 标准差
- skew: 偏度（三阶矩）
- kurt: 峰度（四阶矩）
- cumsum: 累计和
- cummin, cummax: 累计最小、最大值
- cumprod: 累计积
- diff: 一阶差分（用于时间序列）
- pct_change: 百分数变化

In [2]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5],
                [np.nan, np.nan], [0.75, -1.3]],
               index=['a', 'b', 'c', 'd'],
               columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
# 求和
df.sum()

one    9.25
two   -5.80
dtype: float64

In [5]:
#  按行求和
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [6]:
# 不忽略 NA
df.mean(axis=1, skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [9]:
# 返回索引
df.idxmax()

one    b
two    d
dtype: object

In [10]:
# 累加型
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [11]:
# 描述
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [12]:
# 非数值型的描述
obj = Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

# 相关系数(Correlation)与协方差(covariance)

In [26]:
from pandas_datareader import data, wb

all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = data.get_data_yahoo(ticker)

price = DataFrame({tic: data['Adj Close']
                   for tic, data in all_data.items()})
volume = DataFrame({tic: data['Volume']
                    for tic, data in all_data.items()})

In [27]:
price

                  AAPL        GOOG         IBM       MSFT
Date
2010-01-04   27.727039  313.062468  111.405000  25.555485
2010-01-05   27.774976  311.683844  110.059232  25.563741
2010-01-06   27.333178  303.826685  109.344283  25.406859
2010-01-07   27.282650  296.753749  108.965786  25.142634
2010-01-08   27.464034  300.709808  110.059232  25.316031
2010-01-11   27.221758  300.255255  108.906903  24.994007
2010-01-12   26.912110  294.945572  109.773245  24.828866
2010-01-13   27.291720  293.252243  109.537735  25.060064
2010-01-14   27.133657  294.630868  111.287245  25.563741
2010-01-15   26.680198  289.710772  110.841458  25.481172
2010-01-19   27.860485  293.516976  112.826478  25.679340
2010-01-20   27.431644  289.915587  109.554561  25.258232
2010-01-21   26.957455  291.199286  108.503173  24.779325
2010-01-22   25.620401  274.730736  105.559289  23.912336
2010-01-25   26.309658  269.730740  106.080779  24.209590
2010-01-26   26.681494  270.939526  105.769566  24.358216
2010-01-27   26.932840  270.779695  106.257412  24.498586
2010-01-28   25.819922  266.878565  104.087347  24.077477
2010-01-29   24.883208  264.705742  102.943437  23.268290
2010-02-01   25.229131  266.244198  104.861166  23.458201
2010-02-02   25.375533  265.295156  105.584521  23.499485
2010-02-03   25.812149  270.140309  105.693870  23.639855
2010-02-04   24.881912  263.127321  103.456514  22.987551
2010-02-05   25.323710  265.380075  103.893889  23.136177
2010-02-08   25.150100  266.468996  102.972982  22.888466
2010-02-09   25.418289  267.952522  104.096663  23.127920
2010-02-10   25.279660  266.958496  103.758713  23.111406
2010-02-11   25.739595  267.932539  104.536000  23.218748
2010-02-12   25.961142  266.294170  104.764113  23.061864
2010-02-16   26.352412  270.380071  105.803308  23.518124
...                ...         ...         ...        ...
2017-01-12  118.735214  806.359985  166.632452  62.232715
2017-01-13  118.526121  807.880005  166.027237  62.322172
2017-01-17  119.481976  804.609985  166.572925  62.153195
2017-01-18  119.472017  806.070007  165.491479  62.123377
2017-01-19  119.262925  802.174988  165.501396  61.924581
2017-01-20  119.481976  805.020020  169.212061  62.361932
2017-01-23  119.561633  819.309998  169.688291  62.580604
2017-01-24  119.452107  823.869995  174.520082  63.137231
2017-01-25  121.353858  835.669983  176.891332  63.296267
2017-01-26  121.413604  832.150024  177.258440  63.882708
2017-01-27  121.423555  823.309998  175.909108  65.383610
2017-01-30  121.104937  802.320007  174.420876  64.737526
2017-01-31  120.826147  796.789978  173.150918  64.260423
2017-02-01  128.194203  795.695007  172.922712  63.196871
2017-02-02  127.975152  798.530029  173.210445  62.789338
2017-02-03  128.522781  801.489990  174.440723  63.296267
2017-02-06  129.727549  801.340027  174.480403  63.256507
2017-02-07  130.962201  806.969971  177.060012  63.047773
2017-02-08  131.469994  808.380005  176.169998  62.958315
2017-02-09  132.419998  809.559998  177.210007  63.673974
2017-02-10  132.119995  813.669983  178.679993  63.614338
2017-02-13  133.289993  819.239990  179.360001  64.330000
2017-02-14  135.020004  820.450012  180.130005  64.570000
2017-02-15  135.509995  818.979980  181.679993  64.529999
2017-02-16  135.350006  824.159973  181.429993  64.519997
2017-02-17  135.720001  828.070007  180.669998  64.620003
2017-02-21  136.699997  831.659973  180.259995  64.489998
2017-02-22  137.110001  830.760010  181.149994  64.360001
2017-02-23  136.529999  831.330017  181.649994  64.620003
2017-02-24  136.660004  828.640015  181.350006  64.620003

[1799 rows x 4 columns]

In [28]:
returns = price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2017-02-17  0.002734  0.004744 -0.004189  0.001550
2017-02-21  0.007221  0.004335 -0.002269 -0.002012
2017-02-22  0.002999 -0.001082  0.004937 -0.002016
2017-02-23 -0.004230  0.000686  0.002760  0.004040
2017-02-24  0.000952 -0.003236 -0.001651  0.000000

In [39]:
# 相关系数
print(returns.MSFT.corr(returns.IBM))
# 协方差
print(returns.MSFT.cov(returns.IBM))

0.495166900181
8.58872503835e-05

In [40]:
#  相关系数矩阵
returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.409523  0.381495  0.388913
GOOG  0.409523  1.000000  0.402880  0.470810
IBM   0.381495  0.402880  1.000000  0.495167
MSFT  0.388913  0.470810  0.495167  1.000000

In [41]:
# 协方差矩阵
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000269  0.000105  0.000075  0.000092
GOOG  0.000105  0.000244  0.000075  0.000106
IBM   0.000075  0.000075  0.000144  0.000086
MSFT  0.000092  0.000106  0.000086  0.000209

In [44]:
# 一组相关系数
returns.corrwith(returns.IBM)

AAPL    0.381495
GOOG    0.402880
IBM     1.000000
MSFT    0.495167
dtype: float64

In [45]:
# 一组相关系数( 回报百分比与成交量之间)
returns.corrwith(volume)

AAPL   -0.074047
GOOG   -0.009542
IBM    -0.194405
MSFT   -0.091078
dtype: float64

# 唯一值，值计数和成员资格

In [46]:
obj = Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [47]:
uniques = obj.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [48]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [49]:
pd.value_counts(obj.values, sort=False)

b    2
d    1
c    3
a    3
dtype: int64

In [50]:
mask = obj.isin(['b', 'c'])
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [54]:
# 通过 `isin()`的结果进行筛选
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [52]:
data = DataFrame({'Qu1': [1, 3, 4, 3, 4],
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [55]:
result = data.apply(pd.value_counts).fillna(0)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0