In [1]:
%pylab inline
from pandas import Series, DataFrame
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

《[利用Python进行数据分析](https://book.douban.com/subject/25779298/)》
作者: Wes McKinney
译者: 唐学韬

其他关于 Pandas的话题

# 整数索引

In [5]:
ser = Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [6]:
ser.iloc[-1]

2.0

In [7]:
ser2 = Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

2.0

In [8]:
#ix函数总是面向标签的
ser.ix[:1]

0    0.0
1    1.0
dtype: float64

In [ ]:
ser3 = Series(range(3), index=[-5, 1, 3])
ser3.iloc[2]

In [9]:
#如果需要可靠的、不考虑索引类型的、基于位置的索引，可以使用Series的iget_value方法，Dataframe的irow 和 icol方法
frame = DataFrame(np.arange(6).reshape((3, 2)), index=[2, 0, 1])
frame.iloc[0]

0    0
1    1
Name: 2, dtype: int64

#  面板数据

 可以看做是三维的 DataFrame， 但是通常用多层索引的 DataFrame，而不是使用 Panel。

In [11]:
#可以利用DataFrame对象组成的字典或者一个三维ndarray来创建Panel对象
from pandas_datareader import data, wb

pdata = pd.Panel(dict((stk, data.get_data_yahoo(stk))
                       for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']))

In [12]:
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 1821 (major_axis) x 6 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2010-01-04 00:00:00 to 2017-02-28 00:00:00
Minor_axis axis: Open to Adj Close

In [13]:
pdata = pdata.swapaxes('items', 'minor')
pdata['Adj Close']

                  AAPL      DELL        GOOG       MSFT
Date
2010-01-04   27.727039  14.06528  313.062468  25.555485
2010-01-05   27.774976  14.38450  311.683844  25.563741
2010-01-06   27.333178  14.10397  303.826685  25.406859
2010-01-07   27.282650  14.23940  296.753749  25.142634
2010-01-08   27.464034  14.36516  300.709808  25.316031
2010-01-11   27.221758  14.37483  300.255255  24.994007
2010-01-12   26.912110  14.56830  294.945572  24.828866
2010-01-13   27.291720  14.57797  293.252243  25.060064
2010-01-14   27.133657  14.22005  294.630868  25.563741
2010-01-15   26.680198  13.92985  289.710772  25.481172
2010-01-19   27.860485  14.32646  293.516976  25.679340
2010-01-20   27.431644  14.03626  289.915587  25.258232
2010-01-21   26.957455  13.92017  291.199286  24.779325
2010-01-22   25.620401  13.18982  274.730736  23.912336
2010-01-25   26.309658  13.43650  269.730740  24.209590
2010-01-26   26.681494  13.13662  270.939526  24.358216
2010-01-27   26.932840  13.08825  270.779695  24.498586
2010-01-28   25.819922  12.84641  266.878565  24.077477
2010-01-29   24.883208  12.47882  264.705742  23.268290
2010-02-01   25.229131  12.78837  266.244198  23.458201
2010-02-02   25.375533  12.86576  265.295156  23.499485
2010-02-03   25.812149  12.92380  270.140309  23.639855
2010-02-04   24.881912  12.58523  263.127321  22.987551
2010-02-05   25.323710  12.80772  265.380075  23.136177
2010-02-08   25.150100  12.95282  266.468996  22.888466
2010-02-09   25.418289  13.10760  267.952522  23.127920
2010-02-10   25.279660  13.30107  266.958496  23.111406
2010-02-11   25.739595  13.49454  267.932539  23.218748
2010-02-12   25.961142  13.38813  266.294170  23.061864
2010-02-16   26.352412  13.67834  270.380071  23.518124
...                ...       ...         ...        ...
2017-01-17  119.481976       NaN  804.609985  62.153195
2017-01-18  119.472017       NaN  806.070007  62.123377
2017-01-19  119.262925       NaN  802.174988  61.924581
2017-01-20  119.481976       NaN  805.020020  62.361932
2017-01-23  119.561633       NaN  819.309998  62.580604
2017-01-24  119.452107       NaN  823.869995  63.137231
2017-01-25  121.353858       NaN  835.669983  63.296267
2017-01-26  121.413604       NaN  832.150024  63.882708
2017-01-27  121.423555       NaN  823.309998  65.383610
2017-01-30  121.104937       NaN  802.320007  64.737526
2017-01-31  120.826147       NaN  796.789978  64.260423
2017-02-01  128.194203       NaN  795.695007  63.196871
2017-02-02  127.975152       NaN  798.530029  62.789338
2017-02-03  128.522781       NaN  801.489990  63.296267
2017-02-06  129.727549       NaN  801.340027  63.256507
2017-02-07  130.962201       NaN  806.969971  63.047773
2017-02-08  131.469994       NaN  808.380005  62.958315
2017-02-09  132.419998       NaN  809.559998  63.673974
2017-02-10  132.119995       NaN  813.669983  63.614338
2017-02-13  133.289993       NaN  819.239990  64.330000
2017-02-14  135.020004       NaN  820.450012  64.570000
2017-02-15  135.509995       NaN  818.979980  64.529999
2017-02-16  135.350006       NaN  824.159973  64.519997
2017-02-17  135.720001       NaN  828.070007  64.620003
2017-02-21  136.699997       NaN  831.659973  64.489998
2017-02-22  137.110001       NaN  830.760010  64.360001
2017-02-23  136.529999       NaN  831.330017  64.620003
2017-02-24  136.660004       NaN  828.640015  64.620003
2017-02-27  136.929993       NaN  829.280029  64.230003
2017-02-28  136.990005       NaN  823.210022  63.980000

[1821 rows x 4 columns]

In [14]:
pdata.ix[:, '6/1/2012', :]

            Open        High         Low       Close       Volume   Adj Close
AAPL  569.159996  572.650009  560.520012  560.989983  130246900.0   72.681610
DELL   12.150000   12.300000   12.045000   12.070000   19397600.0   11.675920
GOOG  571.790972  572.650996  568.350996  570.981000    6138700.0  285.205295
MSFT   28.760000   28.959999   28.440001   28.450001   56634300.0   24.942239

In [15]:
pdata.ix['Adj Close', '5/22/2012':, :]

                  AAPL      DELL        GOOG       MSFT
Date
2012-05-22   72.160786  14.58765  300.100412  26.090721
2012-05-23   73.921494  12.08221  304.426106  25.520864
2012-05-24   73.242607  12.04351  301.528978  25.485795
2012-05-25   72.850038  12.05319  295.470050  25.477028
2012-05-28         NaN  12.05319         NaN        NaN
2012-05-29   74.143041  12.24666  296.873645  25.915380
2012-05-30   75.037005  12.14992  293.821674  25.722505
2012-05-31   74.850442  11.92743  290.140354  25.591000
2012-06-01   72.681610  11.67592  285.205295  24.942239
2012-06-04   73.109156  11.60821  289.006480  25.029908
2012-06-05   72.920005  11.76298  284.920579  24.994841
2012-06-06   74.038104  11.81619  289.995487  25.731273
2012-06-07   74.071787  11.73396  288.826666  25.626067
2012-06-08   75.185997  11.72429  289.935570  25.994283
2012-06-11   74.000526  11.47278  283.966519  25.336755
2012-06-12   74.647030  11.57919  282.268201  25.678671
2012-06-13   74.128794  11.87423  280.265216  25.538397
2012-06-14   74.047168  11.93711  279.246220  25.722505
2012-06-15   74.384024  11.89841  281.973510  26.318665
2012-06-18   75.893391  12.01449  285.140358  26.160857
2012-06-19   76.104579  11.78233  290.475012  26.914824
2012-06-20   75.888208  11.89841  288.467038  27.116465
2012-06-21   74.842665  11.60821  282.323161  26.423868
2012-06-22   75.416614  11.80168  285.455033  26.914824
2012-06-25   73.948707  11.55500  280.070407  26.187159
2012-06-26   74.111953  11.53565  282.058429  26.318665
2012-06-27   74.431960  11.92743  284.366112  26.450170
2012-06-28   73.725860  11.55984  281.873596  26.222227
2012-06-29   75.662780  12.10155  289.745749  26.818386
2012-07-02   76.766625  11.98064  289.945546  26.792084
...                ...       ...         ...        ...
2017-01-17  119.481976       NaN  804.609985  62.153195
2017-01-18  119.472017       NaN  806.070007  62.123377
2017-01-19  119.262925       NaN  802.174988  61.924581
2017-01-20  119.481976       NaN  805.020020  62.361932
2017-01-23  119.561633       NaN  819.309998  62.580604
2017-01-24  119.452107       NaN  823.869995  63.137231
2017-01-25  121.353858       NaN  835.669983  63.296267
2017-01-26  121.413604       NaN  832.150024  63.882708
2017-01-27  121.423555       NaN  823.309998  65.383610
2017-01-30  121.104937       NaN  802.320007  64.737526
2017-01-31  120.826147       NaN  796.789978  64.260423
2017-02-01  128.194203       NaN  795.695007  63.196871
2017-02-02  127.975152       NaN  798.530029  62.789338
2017-02-03  128.522781       NaN  801.489990  63.296267
2017-02-06  129.727549       NaN  801.340027  63.256507
2017-02-07  130.962201       NaN  806.969971  63.047773
2017-02-08  131.469994       NaN  808.380005  62.958315
2017-02-09  132.419998       NaN  809.559998  63.673974
2017-02-10  132.119995       NaN  813.669983  63.614338
2017-02-13  133.289993       NaN  819.239990  64.330000
2017-02-14  135.020004       NaN  820.450012  64.570000
2017-02-15  135.509995       NaN  818.979980  64.529999
2017-02-16  135.350006       NaN  824.159973  64.519997
2017-02-17  135.720001       NaN  828.070007  64.620003
2017-02-21  136.699997       NaN  831.659973  64.489998
2017-02-22  137.110001       NaN  830.760010  64.360001
2017-02-23  136.529999       NaN  831.330017  64.620003
2017-02-24  136.660004       NaN  828.640015  64.620003
2017-02-27  136.929993       NaN  829.280029  64.230003
2017-02-28  136.990005       NaN  823.210022  63.980000

[1214 rows x 4 columns]

In [16]:
stacked = pdata.ix[:, '5/30/2012':, :].to_frame()
stacked

                        Open        High         Low       Close       Volume  \
Date       minor
2012-05-30 AAPL   569.199997  579.989990  566.559990  579.169998  132357400.0
           DELL    12.590000   12.700000   12.460000   12.560000   19787800.0
           GOOG   588.161028  591.901014  583.530999  588.230992    3827600.0
           MSFT    29.350000   29.480000   29.120001   29.340000   41585500.0
2012-05-31 AAPL   580.740021  581.499985  571.460022  577.730019  122918600.0
           DELL    12.530000   12.540000   12.330000   12.330000   19955600.0
           GOOG   588.720982  590.001032  579.001013  580.860990    5958800.0
           MSFT    29.299999   29.420000   28.940001   29.190001   39134000.0
2012-06-01 AAPL   569.159996  572.650009  560.520012  560.989983  130246900.0
           DELL    12.150000   12.300000   12.045000   12.070000   19397600.0
           GOOG   571.790972  572.650996  568.350996  570.981000    6138700.0
           MSFT    28.760000   28.959999   28.440001   28.450001   56634300.0
2012-06-04 AAPL   561.500008  567.499985  548.499977  564.289978  139248900.0
           DELL    12.110000   12.112500   11.800000   12.000000   17015700.0
           GOOG   570.220958  580.491016  570.011006  578.590973    4883500.0
           MSFT    28.620001   28.780001   28.320000   28.549999   47926300.0
2012-06-05 AAPL   561.269989  566.470001  558.330002  562.830025   97053600.0
           DELL    11.950000   12.240000   11.950000   12.160000   15620900.0
           GOOG   575.451008  578.131003  566.470986  570.410999    4697200.0
           MSFT    28.510000   28.750000   28.389999   28.510000   45715400.0
2012-06-06 AAPL   567.770004  573.849983  565.499992  571.460022  100363900.0
           DELL    12.210000   12.280000   12.090000   12.215000   20779900.0
           GOOG   576.480979  581.970971  573.611004  580.570966    4207200.0
           MSFT    28.879999   29.370001   28.809999   29.350000   46860500.0
2012-06-07 AAPL   577.290009  577.320023  570.500000  571.720001   94941700.0
           DELL    12.320000   12.410000   12.120000   12.130000   20074000.0
           GOOG   587.601014  587.891038  577.251006  578.230986    3530100.0
           MSFT    29.639999   29.700001   29.170000   29.230000   37792800.0
2012-06-08 AAPL   571.599998  580.580017  568.999992  580.319984   86879100.0
           DELL    12.130000   12.225000   12.020000   12.120000   18155600.0
...                      ...         ...         ...         ...          ...
2017-02-14 AAPL   133.470001  135.089996  133.250000  135.020004   32815500.0
           GOOG   819.000000  823.000000  816.000000  820.450012    1053600.0
           MSFT    64.410004   64.720001   64.019997   64.570000   23065900.0
2017-02-15 AAPL   135.520004  136.270004  134.619995  135.509995   35501600.0
           GOOG   819.359985  823.000000  818.469971  818.979980    1304000.0
           MSFT    64.500000   64.570000   64.160004   64.529999   16917000.0
2017-02-16 AAPL   135.669998  135.899994  134.839996  135.350006   22118000.0
           GOOG   819.929993  824.400024  818.979980  824.159973    1281700.0
           MSFT    64.739998   65.239998   64.440002   64.519997   20524700.0
2017-02-17 AAPL   135.100006  135.830002  135.100006  135.720001   22084500.0
           GOOG   823.020020  828.070007  821.655029  828.070007    1597800.0
           MSFT    64.470001   64.690002   64.300003   64.620003   21234600.0
2017-02-21 AAPL   136.229996  136.750000  135.979996  136.699997   24265100.0
           GOOG   828.659973  833.450012  828.349976  831.659973    1247700.0
           MSFT    64.610001   64.949997   64.449997   64.489998   19384900.0
2017-02-22 AAPL   136.429993  137.119995  136.110001  137.110001   20745300.0
           GOOG   828.659973  833.250000  828.640015  830.760010     982900.0
           MSFT    64.330002   64.389999   64.050003   64.360001   19259700.0
2017-02-23 AAPL   137.380005  137.479996  136.300003  136.529999   20704100.0
           GOOG   830.119995  832.460022  822.880005  831.330017    1470100.0
           MSFT    64.419998   64.730003   64.190002   64.620003   20235200.0
2017-02-24 AAPL   135.910004  136.660004  135.279999  136.660004   21690900.0
           GOOG   827.729980  829.000000  824.200012  828.640015    1386600.0
           MSFT    64.529999   64.800003   64.139999   64.620003   21705200.0
2017-02-27 AAPL   137.139999  137.440002  136.279999  136.929993   20196400.0
           GOOG   824.549988  830.500000  824.000000  829.280029    1099500.0
           MSFT    64.540001   64.540001   64.050003   64.230003   15850400.0
2017-02-28 AAPL   137.080002  137.440002  136.699997  136.990005   23403500.0
           GOOG   825.609985  828.539978  820.200012  823.210022    2252300.0
           MSFT    64.080002   64.199997   63.759998   63.980000   23043900.0

                   Adj Close
Date       minor
2012-05-30 AAPL    75.037005
           DELL    12.149920
           GOOG   293.821674
           MSFT    25.722505
2012-05-31 AAPL    74.850442
           DELL    11.927430
           GOOG   290.140354
           MSFT    25.591000
2012-06-01 AAPL    72.681610
           DELL    11.675920
           GOOG   285.205295
           MSFT    24.942239
2012-06-04 AAPL    73.109156
           DELL    11.608210
           GOOG   289.006480
           MSFT    25.029908
2012-06-05 AAPL    72.920005
           DELL    11.762980
           GOOG   284.920579
           MSFT    24.994841
2012-06-06 AAPL    74.038104
           DELL    11.816190
           GOOG   289.995487
           MSFT    25.731273
2012-06-07 AAPL    74.071787
           DELL    11.733960
           GOOG   288.826666
           MSFT    25.626067
2012-06-08 AAPL    75.185997
           DELL    11.724290
...                      ...
2017-02-14 AAPL   135.020004
           GOOG   820.450012
           MSFT    64.570000
2017-02-15 AAPL   135.509995
           GOOG   818.979980
           MSFT    64.529999
2017-02-16 AAPL   135.350006
           GOOG   824.159973
           MSFT    64.519997
2017-02-17 AAPL   135.720001
           GOOG   828.070007
           MSFT    64.620003
2017-02-21 AAPL   136.699997
           GOOG   831.659973
           MSFT    64.489998
2017-02-22 AAPL   137.110001
           GOOG   830.760010
           MSFT    64.360001
2017-02-23 AAPL   136.529999
           GOOG   831.330017
           MSFT    64.620003
2017-02-24 AAPL   136.660004
           GOOG   828.640015
           MSFT    64.620003
2017-02-27 AAPL   136.929993
           GOOG   829.280029
           MSFT    64.230003
2017-02-28 AAPL   136.990005
           GOOG   823.210022
           MSFT    63.980000

[3955 rows x 6 columns]

In [17]:
stacked.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1208 (major_axis) x 4 (minor_axis)
Items axis: Open to Adj Close
Major_axis axis: 2012-05-30 00:00:00 to 2017-02-28 00:00:00
Minor_axis axis: AAPL to MSFT