《[利用Python进行数据分析](https://book.douban.com/subject/25779298/)》读书笔记。
 
 [第9章](/2017/07/19/python_data_analysis9.html)  第2节：数据聚合

所有用到的数据可以从[作者的 github](https://github.com/wesm/pydata-book)下载。

In [1]:
%pylab inline
import pandas as pd
from pandas import Series, DataFrame

Populating the interactive namespace from numpy and matplotlib

GroupBy对象上面优化了一些方法，可以直接进行统计计算，比如：

- count
- sum
- mean
- median（中位数）
- std, var（标准差、方差）
- min, max
- prod （积）
- first, last

但是不仅如此，可以自定义聚合运算。比如， quantile可以计算Series或 DataFrame列的样本分位数：

In [2]:
df = DataFrame({
    'key1': ['a','a','b','b','a'],
    'key2': ['one','two','one','two','one'],
    'data1': np.random.randn(5),
    'data2': np.random.randn(5)
})

df

      data1     data2 key1 key2
0 -0.075862  0.644310    a  one
1 -0.122875  0.692719    a  two
2  0.500193 -0.798486    b  one
3 -1.898311  0.482947    b  two
4  0.221361 -1.521094    a  one

In [3]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9)

key1
a    0.161916
b    0.260343
Name: data1, dtype: float64

如果需要自定义聚合函数，将其传入 aggregate 或 agg 方法即可：

In [4]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

         data1     data2
key1
a     0.344235  2.213812
b     2.398504  1.281433